<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BeezNest</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="~/css/sweetalert2.css" rel="stylesheet" />

    <style>
        .sidebar {
            display: none;
            position: fixed;
            top: 65px;
            left: 0;
            height: 100%;
            width: 200px;
            background-color: #f8f9fa;
            overflow-x: hidden;
            z-index: 1050;
        }

            .sidebar.show {
                display: block;
            }

            .sidebar a {
                display: block;
                padding: 15px 20px;
                text-decoration: none;
                color: #333;
                transition: background 0.3s ease-in-out;
            }

                .sidebar a:hover {
                    background-color: #ddd;
                }
    </style>
    <script>
        function errorAlert(message) {
            Swal.fire({
                icon: 'error',
                text: message,
                timer: 60000,
                confirmButtonColor: "#366092",
            })
        }

        function infoAlert(message) {
            Swal.fire({
                icon: 'info',
                text: message,
                timer: 30000,
                confirmButtonColor: "#366092",
            })
        }

        function infoAlertWithStyles(message) {
            Swal.fire({
                title: 'Incomplete Payment',
                icon: 'info',
                text: message,
                confirmButtonColor: "#366092",
            })
        }
        function newInfoAlert(message, url) {
            Swal.fire({
                icon: 'info',
                text: message,
                timer: 30000,
                confirmButtonColor: "#366092",
            }).then((isConfirm) => {
                if (isConfirm) {
                    location.href = url;
                }
            })
        }
        function successAlert(message) {
            Swal.fire({
                icon: 'success',
                text: message,
                timer: 30000,
                confirmButtonColor: "#366092",
            })
        }

        function newErrorAlert(message, url) {
            Swal.fire({
                icon: 'error',
                text: message,
                timer: 30000,
                confirmButtonColor: "#366092",
            }).then(function () {
                location.href = url;
            })
        }

        function newSuccessAlert(message, url) {
            Swal.fire({
                icon: 'success',
                text: message,
                confirmButtonColor: "#366092",
            }).then((isConfirm) => {
                if (isConfirm) {
                    location.reload(url);
                }
            })

        }
        function successAlertWithRedirect(message, url) {
            Swal.fire({
                title: "Success",
                text: message,
                icon: "success",
                timer: 30000,
                overlay: "background - color: rgba(43, 165, 137, 0.45)",
                confirmButtonColor: "#366092",
            }).then(function () {

                location.href = url;
            })
        }

        function successAlertWithFunction(message, action) {
            Swal.fire({
                title: "Success",
                text: message,
                icon: "success",
                timer: 30000,
                overlay: "background - color: rgba(43, 165, 137, 0.45)",
                confirmButtonColor: "#366092",
            }).then(function () {
                action;
            })
        }
    </script>


</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light border-bottom box-shadow fixed-top">
            <div class="container d-flex align-items-center justify-content-between flex-wrap">
                <!-- Sidebar Button and Logo -->
                <div class="d-flex align-items-center">
                    <button class="btn me-3" type="button" onclick="showSidebar()">
                        <span><i class="fa-solid fa-bars"></i></span>
                    </button>

                    <a class="navbar-brand d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/StockPhotos/websiteLogo.jpeg" alt="BeezNest Logo" class="img-fluid"
                             style="height: 40px; width: auto; margin-right: 10px;">
                        <span class="fw-bold text-dark">BeezNest</span>
                    </a>
                </div>

             
                <!-- Login and Register Links -->
                <ul class="navbar-nav d-flex flex-row align-items-center">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item d-flex align-items-center">
                            <span class="nav-link">
                                <i class="fa-solid fa-user me-2"></i>
                                Welcome @User.Claims.FirstOrDefault(c => c.Type == "FirstName")?.Value
                            </span>
                            <a asp-controller="Account" asp-action="LogOut" class="ms-2 text-danger nav-link">LogOut</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" asp-area="" asp-controller="Account" asp-action="Login">
                                <i class="fa-solid fa-sign-in-alt me-2"></i> Login
                            </a>
                        </li>
                        <li class="nav-item ms-2">
                            <a class="nav-link d-flex align-items-center" asp-area="" asp-controller="Account" asp-action="Registration">
                                <i class="fa-solid fa-user-plus me-2"></i> Register
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>








    <div class="sidebar show">
        <div class="offcanvas-header">
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <i class="fa-solid fa-house me-3"></i>Home
            </a>
        </div>
        <div class="offcanvas-body">
            <a asp-area="" asp-controller="Home" asp-action="Privacy">
                <i class="fa-solid fa-lock me-3"></i>Privacy
            </a>
            <a href="#contact">
                <i class="fa-solid fa-address-book me-3"></i>Contact
            </a>
            <a href="#about">
                <i class="fa-solid fa-address-card me-3"></i>About
            </a>
            <a asp-area="" asp-controller="Admin" asp-action="Index">
                <i class="fa-solid fa-droplet me-3"></i>Dropdowns
            </a>
            <a asp-area="" asp-controller="Admin" asp-action="CreateProduct">
                <i class="fa-solid fa-upload me-3"></i>Create Products
            </a>
            <a asp-area="" asp-controller="Admin" asp-action="UploadedProducts">
                <i class="fa-brands fa-product-hunt me-3"></i>Uploaded Products
            </a>
            <a asp-area="" asp-controller="Orders" asp-action="ClientOrders" class="position-relative">
                <i class="fa-sharp fa-solid fa-file-lines me-3"></i>Orders
                <span id="orderCount" class="badge bg-danger position-absolute top-0 start-100 translate-middle"></span>
            </a>
            <a asp-area="" asp-controller="Questions" asp-action="CreateQuestions">
                <i class="fa-brands fa-product-hunt me-3"></i>Add Q & S
            </a>
        </div>
    </div>





    <div class="container">
        <main role="main" class="pb-3" style="min-height:550px; background-color:#F6F6F6;">
            <div class="page-wrapper">
                @RenderBody()
            </div>

        </main>
    </div>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @RenderSection("script", required: false)

</body>
</html>
