 @model Core.ViewModels.ApplicationUserViewModel;
@{
    ViewData["Title"] = "Register";
}

<style>
    body, html 
    {
        height: 100%;
    }

    .centered-card {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
</style>

<div class="centered-card">
    <div class="card" style="width: 30rem;">
        <div class="card-body">
            <h5 class="card-title text-center">Sign Up</h5>
            <form action="/action_page.php">
                <div class="mb-3 mt-3">
                    <label for="Firstname">Firstname:</label>
                    <input type="text" class="form-control w-100" id="FirstName" placeholder="Firstname" name="Firstname">
                </div>

                <div class="mb-3 mt-3">
                    <label for="Lastname">Lastname:</label>
                    <input type="text" class="form-control w-100" id="LastName" placeholder="Lastname" name="Lastname">
                </div>

                <div class="mb-3 mt-3">
                    <label for="Phone">Phone:</label>
                    <input type="text" class="form-control w-100" id="PhoneNumber" placeholder="Enter Phone Number" name="Phone">
                </div>

                <div class="mb-3 mt-3">
                    <label for="Address">Address:</label>
                    <input type="text" class="form-control w-100" id="Address" placeholder="Enter Address" name="Address">
                </div>
                <div class="mb-3 mt-3">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control w-100" id="Email" placeholder="Enter email" name="email">
                </div>
                <div class="mb-3">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control w-100" id="Password" placeholder="Enter password" name="pswd">
                </div>
                <div class="mb-3">
                    <label for="confirmpwd">Comfirm Password:</label>
                    <input type="password" class="form-control w-100" id="ConfirmPassword" placeholder="Confirm password" name="pswd">
                </div>
                <div class="form-check mb-3">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="remember"> Remind me
                    </label>
                </div>
                <button type="submit" class="btn btn-secondary w-100" onclick="registration()">Submit</button>
            </form>
        </div>
    </div>
</div>
