@model Core.ViewModels.UploadProductViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class=" mt-5">
    <form method="post" asp-action="CreateProduct" enctype="multipart/form-data">
        <div class="centered-card mt-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center text-decoration-underline">Upload Products</h5>

                    <div class="mb-3 mt-3">
                        <label class="col-md-4 col-form-label">Upload Images</label>
                        <div class="col-md-8">

                            <input type="file" class="form-control w-100" accept="image/*" asp-for="ProductImages" multiple />
                        </div>
                    </div>

                    <div class="mb-3 mt-3">
                        <label class="col-md-4 col-form-label">Product/Model</label>
                        <div class="col-md-8">

                            <input type="text" class="form-control w-100" asp-for="ProductsModel" placeholder="Enter Product/model" />
                        </div>
                    </div>

                    <div class="mb-3 mt-3">
                        <label class="col-md-4 col-form-label">Specifications</label>
                        <div class="col-md-8">

                            <input type="text" class="form-control w-100" asp-for="Specifications" placeholder="Enter specifications" />
                        </div>
                    </div>

                    <div class="mb-3 mt-3">
                        <label class="col-md-4 col-form-label">Price</label>
                        <div class="col-md-8">

                            <input type="number" class="form-control w-100" asp-for="Price" placeholder="Enter price" />
                        </div>
                    </div>

                    <div class="mb-3 mt-3">
                        <label class="col-md-4 col-form-label">Number of Items</label>
                        <div class="col-md-8">

                            <input type="number" class="form-control w-100" asp-for="NumberOfItem" placeholder="Enter number of items" />
                        </div>
                    </div>

                    <div class="mb-3 mt-3">
                        <label class="col-md-4 col-form-label">Available Colors</label>
                        <div class="col-md-8">

                            <input type="text" class="form-control w-100" asp-for="Colors" placeholder="Enter colors separated by commas (e.g., Red, Blue, Green)" />
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="form-group row">
                        <div class="col-8 offset-4 row">
                            <div class="col pt-3">
                                <input type="submit" class="btn btn-info w-100" value="Add" />
                            </div>
                            <div class="col pt-3">
                                <a asp-action="Index" class="btn btn-success w-100">
                                    <i class="fa-solid fa-right-from-bracket"></i> Back
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
