.offcanvas-static {
    position: fixed;
    top: 55px;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #f8f9fa;
    transition: transform 0.3s ease-in-out;
    z-index: 1030;
    border: solid #0196E7;
  
}

    .offcanvas-static.hidden {
        transform: translateX(-100%);
    }

.sidebar .offcanvas-body a {
    display: block;
    padding: 10px;
    color: #000;
    text-decoration: none;
}

    .sidebar .offcanvas-body a.active {
        background-color: #ddd;
    }
.sidebar a:hover:not(.active) {
    background-color: #D56605;
    color: white;
}

.page-wrapper{
    margin-left:250px;
    margin-top: 75px;
}

.card {
    transition: transform 0.3s;
}

    .card:hover {
        transform: scale(1.05); /* Slightly enlarge the card */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow effect */
    }


.cartBox {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    transition: 0.3s linear;
    transform: scale(0);
    visibility: hidden;
}
    .cartBox.active {
        transform: scale(1);
        visibility:visible;
    }
.cartBox .cart {
        position: relative;
        height: 70%;
        width: 80%;
        flex-direction: column;
        align-items: center;
}

.cartBox .cart i{
    position:absolute;
    right:0;
    top:0;
    background:red;
    padding:10px 15px;
    color:white;
 }

 .cartBox .cart i:hover {
        background: #B40000;
 }

    .cartBox .cart h1{
        
        margin-top:2%;
        font-size:2.8rem;
        color:aqua;
        text-align:center
    }